.container{
    border: 1px solid black;
    width: 400px;
    padding: 10px;
    background: rgb(235, 231, 231);
}
.new-task , .task-detail{
    border: 1px solid black;
    padding: 10px;
}

.task-detail{
    margin-top: 5px;
}


.button {
    background-color: #4066AF; /* Green */
    border: none;
    color: white;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10%;
}

input{
    background: rgb(235, 231, 231);
    border: 1px solid black;
    margin: 5px 0;
}
