.box{
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 5px;
}

.button {
    background-color: #008CBA; /* Green */
    border: none;
    color: white;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10%;
}

